<script>
import Tasks from '@/components/Tasks.vue'

export default {
  components: {
    Tasks,
  },
  methods: {
    openDialog() {
      this.$refs.tasks.showDialog()
    }
  },
}
</script>

<template>
  <v-toolbar class="py-3 pl-10">
    <v-avatar class="avatar ml-5" size="50">
      <img src="../assets/photo.jpeg" alt="Soner Simsek" class="avatar-photo" />
    </v-avatar>
    <h2 class="ml-3">Soner Simsek</h2>
    <v-btn class="add-task-button" color="green" @click="openDialog" variant="flat">
      <v-icon icon="mdi-plus"></v-icon> 
      <h3>ADD TASK</h3>
    </v-btn>
  </v-toolbar>

  <Tasks ref="tasks" />
</template>

<style>
.add-task-button {
  width: 125px;
  margin: 0 auto;
  margin-right: 70px !important; 
}
.avatar{
  border: 2px #FFA000 solid;
}
.avatar-photo{
  width: 60px;
  height: 60px;
}
</style>