<template>
  <v-card class="card" elevation="7">
    <v-card-title>
      <span class="text-h5">To-Do Information</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <v-text-field label="To-Do" v-model="todo" required></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="12">
            <v-text-field label="Description" v-model="description" required></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="12">
            <v-select
              v-model="priority"
              :items="options"
              label="Priority"
            ></v-select>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="close">
        Close
      </v-btn>
      <v-btn color="blue darken-1" text @click="submit">
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    todo: null,
    description: null,
    priority: null,
    options: [
      'Low',
      'Normal',
      'High',
    ],
    status: "todo",
  }),  
  methods: {
    close() {
      this.$emit('cancel');
    },
    submit() {
      this.$emit('submit', { name: this.todo, description: this.description, priority: this.priority, status: this.status, });
    },
  }
}
</script>

<style scoped>
.card {
  margin: 50px auto;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>