<script>
import { list } from "postcss";
import TaskColumn from "./TaskColumn.vue"
import NewTaskDialog from '@/components/NewTaskDialog.vue'

export default {
  components: {
    TaskColumn,
    NewTaskDialog
  },
  data() {
    return {
      visible: false,
      todoTaskList: [
        { no: "102", name: "toplantın var", description: "18.00 da toplantı var.", status: "todo", priority: "High" },
        { no: "103", name: "yemek yap", description: "Makarna yap salçalı", status: "todo", priority: "Normal" },
      ],
      inProgressTaskList: [
        { no: "104", name: "kod yaz", description: "projeye buton ekle", status: "inProgress", priority: "Low" },
        { no: "105", name: "Spor yap", description: "100 şınav", status: "inProgress", priority: "Normal" },
        { no: "106", name: "sınava çalış", description: "kimya sınavı", status: "inProgress", priority: "High" },
        { no: "107", name: "mutfağı topla", description: "mutfak kirlendi, temizle", status: "inProgress", priority: "Low" },
      ],
      doneTaskList: [
        { no: "108", name: "Yemek söyle", description: "ciğer söyle", status: "done", priority: "High" },
        { no: "110", name: "havuza in", description: "1 saat yüz", status: "done", priority: "Low" },
        { no: "111", name: "kitap oku", description: "50 sayfa kitap oku", status: "done", priority: "Normal" },
      ],
    };
  },
  methods: {
    addTask(task) {
      this.todoTaskList.push(task);
      this.visible = false;
    },
    showDialog() {
      this.visible = true;
    },
  },
}
</script>

<template>
  <v-row style="border: 1px solid gray;">
    <v-col cols="4" style="border: 1px solid gray; ">
      <div class="col-title">
        <v-chip class="mt-5" color="primary" text-color="white">
          <h3>TO DO ({{ todoTaskList.length }}) </h3>
        </v-chip>
      </div>
      <TaskColumn :in-progress-task-list="inProgressTaskList" name="todo" :list="todoTaskList" />
    </v-col>
    <v-col cols="4" style="border: 1px solid gray;">
      <div class="col-title">
        <v-chip class="mt-5" color="orange" text-color="white">
          <h3>in PROGRESS ({{ inProgressTaskList.length }}) </h3>
        </v-chip>
      </div>
      <TaskColumn :done-task-list="doneTaskList" name="inProgress" :list="inProgressTaskList" />
    </v-col>
    <v-col cols="4" style="border: 1px solid gray;">
      <div class="col-title">
        <v-chip class="mt-5" color="green" text-color="white">
          <h3>DONE ({{ doneTaskList.length }}) </h3>
        </v-chip>
      </div>
      <TaskColumn name="done" :list="doneTaskList" />
    </v-col>
  </v-row>

  <NewTaskDialog v-if="visible" @cancel="visible = false" @submit="addTask"></NewTaskDialog>
</template>

<style>
.col-title {
  text-align: center;
}
</style>