<script>
export default {
  props: {
    name: { type: String, required: true },
    list: { type: Array, required: false, default: () => [] },
    inProgressTaskList: { type: Array, required: false, default: () => [] },
    doneTaskList: { type: Array, required: false, default: () => [] }
  },
  computed: {
    sortedList() {
      const highPriority = this.list.filter(item => item.priority === 'High');
      const normalPriority = this.list.filter(item => item.priority === 'Normal');
      const lowPriority = this.list.filter(item => item.priority === 'Low');

      return [...highPriority, ...normalPriority, ...lowPriority];
    }
  },
  methods: {
    deleteTask(list) {
      const index = this.list.indexOf(list);
      if (index !== -1) {
        this.list.splice(index, 1);
      }
    },
    changeTodoStatus(list) {
      list.status = "inProgress"
      this.inProgressTaskList.push(list);
      const index = this.list.indexOf(list);
      if (index !== -1) {
        this.list.splice(index, 1);
      }
    },
    changeProgressStatus(list) {
      list.status = "done"
      this.doneTaskList.push(list);
      const index = this.list.indexOf(list);
      if (index !== -1) {
        this.list.splice(index, 1);
      }
    }
  }
}
</script>

<template>
  <v-card class="mx-auto mt-5" cols="4" max-width="344" outlined elevation="10" v-for="list in sortedList" :key="list">
    <v-list-item three-line>
      <v-list-item-content>
        <div class="text-overline mb-1">
          <p style="font-size: 16px;">{{ list.name }}</p>
        </div>
      </v-list-item-content>
      <v-list-item-content>
        <div class="mb-1">
          <p style="font-size: 13px;">{{ list.description }}</p>
        </div>
      </v-list-item-content>
    </v-list-item>
    <br>
    <v-icon v-if="list.priority === 'Normal'" size="35">mdi-minus</v-icon>
    <v-icon v-else-if="list.priority === 'High'" color="red" size="35">mdi-arrow-up-thick</v-icon>
    <v-icon v-else-if="list.priority === 'Low'" color="green" size="35">mdi-arrow-down-thick</v-icon>

    <span v-if="list.priority === 'Normal'" size="35">Normal</span>
    <span v-else-if="list.priority === 'High'" color="red" size="35">High</span>
    <span v-else-if="list.priority === 'Low'" color="green" size="35">Low</span>

    <button class="updateButton" v-if="list.status === 'todo'"
      @click="changeTodoStatus(list)"><v-icon>mdi-progress-clock</v-icon></button>
    <button class="updateButton" v-if="list.status === 'inProgress'"
      @click="changeProgressStatus(list)"><v-icon>mdi-check-circle-outline</v-icon></button>
    <button @click="deleteTask(list)" class="deleteButton"> <v-icon color="red">mdi-delete</v-icon> </button>
  </v-card>
</template>

<style>
.deleteButton {
  position: absolute;
  right: 0px;
  margin-right: 10px !important;
  border: 1px red solid;
}

.updateButton {
  position: absolute;
  right: 0px;
  border: 1px black solid;
  margin-right: 40px !important;
}
</style>